node_modules/
signed-addon.xpi
src/vendor/*
src/sidebar/vendor/*
src/_locales
web-ext-artifacts/
test/dist/*
ckeditor-build/build/*
build/

android/.idea
mobile/notes-mobile/platforms

#Mac
.DS_Store
