/**
  CKEditor overrides
*/

.editorWrapper {
  flex: 100px;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.ck-editor {
  display: flex;
  flex: 100px;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.ck.ck-reset,
.ck.ck-reset_all,
.ck.ck-reset_all * {
  box-sizing: border-box;
  height: auto;
}

.ck.ck-reset {
  height: 100%;
}


#notes {
  .ck-toolbar {
    border: 0;
    border-radius: 0;
  }

   .ck-editor__top {
    border-bottom: 1px solid #ccc;
    flex-direction: column;
    flex: 36px;
    height: 36px;
    width: 90em; // max-width of Firefox sidebar is 36em, but with Firefox Side-view it can be beyond that
  }

  .ck-editor__main {
    flex: auto;
    font-size: 14px;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .ck-editor__editable {
    flex: auto;
    flex-direction: column;
    height: 100%;
    border: 0;
    box-shadow: none;
    cursor: text;

    p {
      margin: 5px 0;
      font-size: 14px;
    }

    ul, ol {
      padding-left: 20px;
    }

    ul > li, ol > li {
      line-height: 1.5rem;
    }

    h1 {
      margin: 2px 0;
      font-size: 24px;
      padding: 0;
    }

    h2 {
      margin: 7px 0;
      font-size: 20px;
    }

    h3 {
      margin: 5px 0;
      font-size: 16px;
    }
  }

  .drag-n-drop-focus,
  .drag-n-drop-focus .ck-editor__editable {
    border: 1px solid #008000;
    background-color: #dcd6da;
  }

  .ck.ck-list .ck-list__item:focus {
    box-shadow: none;
  }

  .ck-heading-dropdown button {
    width: 43px;
    height: 25px;
    padding: 2px 5px 2px 0px !important;
  }

  .ck-heading-dropdown .ck-dropdown__panel {
    width: 170px;
    height: 160px;
  }

  .ck.ck-icon {
    width: 18px;
  }

  .ck-heading-dropdown .ck.ck-icon {
    width: 16px;
  }

  .ck-dropdown__arrow {
    padding-left: 3px;
    padding-bottom: 1px;
  }

  .ck-toolbar > * {
    margin-right: 0.2em;
  }

  .ck-button {
    padding: 0;
    margin: 1px;
  }

  .ck-button__label {
    max-width: 30px;
  }

  .ck-balloon-panel {
    left: 0 !important;
    width: 100% !important;
    padding: 0.1em;
    box-shadow: none;
  }
}

// CSS related to Notifications
#sync-note {
  background: #00FFFE; // green background is: #B6FEB4;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border: 0;
  border-top: 1px solid #ccc;
  color: #424242;
  font-size: 12px;
  padding: 0px 15% 0px 10px;

  button {
    width: 16px;
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 0 0;
    opacity: 0.4;

    &:hover {
      cursor: pointer;
      opacity: 0.6
    }
    &:active {
      cursor: pointer;
      opacity: 0.8
    }
  }
}




