
/**
Footer Styles
 */

footer * {
  font-size: 14px;
  min-height: 30px;
}

button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
}

footer {
  position: relative;
  flex: 40px;
}

#footer-buttons {
  align-items: stretch;
  position: relative;
  border-top: 1px solid #d7d7db;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: background var(--sync-animation-duration)
    cubic-bezier(0.07, 0.95, 0, 1);

  &.warning {

  }

  div:first-child {
    position: relative;
    flex: 1 0;
    padding: 10px 40px 10px 10px;
    color: #969696;
    text-align: left;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: padding 0s 0.2s;

    p {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 6px;
      margin-top: 1px;
    }

    button {
      cursor: default;
    }

    &.isClickable {
      button {
        color: black;
        cursor: pointer !important;
      }
    }
  }
}

/* warning style */
#footer-buttons.warning {
  background-color: rgb(255, 236, 173);
  transition: background var(--sync-animation-duration)
    cubic-bezier(0.07, 0.95, 0, 1);
}

#footer-buttons.syncingLayout div:first-child {
  padding: 10px 10px 10px 40px;
  transition: padding 0s 0.2s;
}

#footer-buttons.actionable div:first-child {
  color: black;
}

/* Sync icon */
#enable-sync {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 40px;
  border-left: 1px solid #d7d7db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.savingLayout {
  #saving-indicator{
    opacity: 1;
    visibility: visible;
    transition: opacity .2s .2s;
  }
  #syncing-indicator{
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s, visibility 0s .2s;
  }
  #enable-sync {
    margin-right: 0px;
    transition: margin var(--sync-animation-duration)
        cubic-bezier(0.07, 0.95, 0, 1) 0.05s,
      border 0s cubic-bezier(0.07, 0.95, 0, 1) var(--sync-animation-duration);

    &:hover {
      background-color: #ebebee;
    }
  }
}

.syncingLayout {
  #saving-indicator{
    transition: opacity .1s, visibility 0s .1s;
    opacity: 0;
    visibility: hidden;
  }
  #syncing-indicator{
    opacity: 1;
    visibility: visible;
    transition: opacity .2s .2s;
    cursor: default;
  }
  #enable-sync {
    margin-right: calc(100% - 40px);
    background: none;
    border-left: none;
    transition: margin var(--sync-animation-duration)
      cubic-bezier(0.07, 0.95, 0, 1) 0.05s;

    &:hover {
      background: transparent;
    }
  }
}

#saving-indicator {
  background: none;
  padding-bottom: 12px;
  color: inherit;
}

#syncing-indicator {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1px;
  position: absolute;
  top: 8px;
  padding-right: 40px;
  background: none;
  padding-bottom: 12px;
  color: inherit;

  &:hover {
    background: none !important;
  }
}

/* Animate sync icon */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#enable-sync svg {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.animateSyncIcon #enable-sync svg {
  animation-play-state: running;
}

.animateSyncIcon #enable-sync svg path,
.syncingLayout>div:hover #enable-sync svg path {
  fill: #4e92dd;
}

// Always black on warning/yellow background
.warning>div:hover #enable-sync svg path {
  fill: black !important;
}

/* Feedback button on right side */
#give-feedback-button {
  cursor: pointer;
  border-left: 1px solid #d7d7db;
  display: flex;
  flex: 0 0 40px;
  justify-content: center;
  align-items: center;
}

/* Display feedback button with opacity */
.savingLayout #give-feedback-button {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transition: opacity var(--sync-animation-duration)
    cubic-bezier(0.07, 0.95, 0, 1) var(--sync-animation-duration);
}

/* Hide Feedback button with opacity */
.syncingLayout #give-feedback-button {
  opacity: 0;
  z-index: 0;
  cursor: default;
  visibility: hidden;
  transition: opacity var(--sync-animation-duration)
      cubic-bezier(0.07, 0.95, 0, 1),
    visibility 0s var(--sync-animation-duration);
}

#footer-buttons button,
#footer-buttons a {
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #ebebee;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #d7d7db;
}

#menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Select menu from sync */
#context-menu-button {
  background-size: 3px;
  background-image: url('../svg/three-dots.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  width: 22px;
  text-align: left;
  position: absolute;
  right: 6px;
  top: 5px;
  bottom: 6px;

}

#context-menu-button:hover,
#context-menu-button:focus,
#context-menu-button:active {
  background-color: rgba(128, 128, 128, 0.2) !important;
}

/* Hide select menu on saving mode */
.savingLayout #context-menu-button {
  z-index: 0;
  opacity: 0;
  visibility: none;
  transition: opacity var(--sync-animation-duration) cubic-bezier(0.07, 0.95, 0, 1),
    visibility 0s var(--sync-animation-duration);
}

/* Show select menu on syncing mode */
.syncingLayout #context-menu-button {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--sync-animation-duration) cubic-bezier(0.07, 0.95, 0, 1) var(--sync-animation-duration);
}

.context-menu {
  font-family: inherit;
  padding: 0;
}

.context-menu-item {
  font-size: 12px;
  padding: 0 0 0 15px;
  height: 18px;
  line-height: 30px;
}
