
/**
Footer Styles
 */

footer {
  width: 100%;
  height: 40px;
  font-size: 13px;

  align-items: stretch;
  position: relative;
  border-top: 1px solid #d7d7db;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transition: background var(--sync-animation-duration)
    cubic-bezier(0.07, 0.95, 0, 1);

  // sync icon + text layout in footer
  div.btnWrapper {

    color: #969696;
    height: 40px;
    width: calc(100% - 40px);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    button + p {
      display: none;
    }

    &.isClickable {
      button {
        color: black;
      }
      button:hover + p {
        display: block;
      }
      button:hover + p + p {
        display: none;
      }
    }

    p { // Text between sync button and text menu
      margin-top: 1px;
      flex: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      display: block;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 8px 6px 0 2px;
      text-align: center;

      &.alignLeft {
        text-align: left;
      }
    }
  }

  &.warning {
    background-color: rgb(255, 236, 173);
    color: black;
    transition: background var(--sync-animation-duration)
               cubic-bezier(0.07, 0.95, 0, 1);

    button {
      color: black;
      &.fullWidth:hover {
        background: transparent !important;
      }
    }
    div.btnWrapper {
      color: black;
    }

  }
}

/* Animate sync icon */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.warning #context-menu-button:active,
.warning #context-menu-button:hover,
.warning #context-menu-button:focus {
  background-color: rgba(0, 0, 0, .2);
}

#enable-sync svg {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

#enable-sync:active {
  outline: none;
}

.animateSyncIcon #enable-sync svg {
  animation-play-state: running;
}

.animateSyncIcon #enable-sync svg path,
.syncingLayout>div:hover #enable-sync svg path {
  fill: #4e92dd;
}

// Always black on warning/yellow background
.warning>div:hover #enable-sync svg path {
  fill: black !important;
}

footer button,
footer a {
  transition: background 50ms;
}

footer button:hover,
footer a:hover {
  background-color: #ebebee;
}

footer button:active,
footer a:active {
  background-color: #d7d7db;
}
