
/**
Footer Styles
 */

#footerButtons {
  width: 100%;
  height: 40px;
  font-size: 13px;
  color: #969696;
  align-items: stretch;
  position: relative;
  border-top: 1px solid #d7d7db;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  transition: background var(--sync-animation-duration)
    cubic-bezier(0.07, 0.95, 0, 1);

  &.warning {
    padding-right: 8px;
    background-color: rgb(255, 236, 173);
    color: black;
    transition: background var(--sync-animation-duration)
               cubic-bezier(0.07, 0.95, 0, 1);
    button {
      color: black;

      &.fullWidth:hover {
        background: transparent !important;
      }
    }

  }

  // This is full with button, used with Sign in to sync and warning
  .fullWidth {
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    span {
      position: relative;
      top: 1px;
    }
  }

  // This is iconBtn + p used to display
  div.btnWrapper {

    color: inherit;
    height: 40px;
    width: calc(100% - 48px);
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 12px;

    &.isClickable {
      button {
        color: black;
      }
    }

    p { // Text between sync button and text menu
      flex: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      display: block;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0px 16px 1px 8px;
      text-align: center;

      &.alignLeft {
        text-align: left;
      }
    }
  }

  a, button {
    transition: background 50ms;
    &:hover { background-color: rgba(12, 12, 13, 0.1); }
    &:active { background-color: rgba(12, 12, 13, 0.2); }
  }

  .photon-menu {
    padding-right: 4px;
  }
  .photon-menu.left .wrapper {
    right: 0;
  }
  .btnWrapper + .photon-menu {
    position: relative;
    right: 8px;
  }
}

footer .serverAlert {
  background-color: rgb(255, 236, 173);
  text-align: center;
  align-items: stretch;
  position: relative;
  border-top: 1px solid #d7d7db;
  padding: 5px;
}

/* Animate sync icon */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#enable-sync svg {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

#enable-sync:active {
  outline: none;
}

.animateSyncIcon #enable-sync svg {
  animation-play-state: running;
}

.animateSyncIcon #enable-sync svg path,
.syncingLayout>div:hover #enable-sync svg path {
  fill: rgb(140, 140, 140);
}

// Always black on warning/yellow background
.warning>div:hover #enable-sync svg path {
  fill: black !important;
}
