
/**
header Styles
 */

header {
  display: flex;
  width: 100%;
  flex: 40px;
  flex-grow: 0;
  font-size: 13px;
  background: rgb(247, 247, 247);

  align-items: stretch;
  position: relative;
  border-bottom: 1px solid #d7d7db;
  justify-content: space-between;

  // sync icon + text layout in header
  div.btnWrapper {
    color: black;
    height: 40px;
    width: calc(100% - 40px);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2px;

    p { // Text between sync button and text menu
      margin-top: 1px;
      flex: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      display: block;
      font-weight: 500;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 10px 6px 0 2px;
      text-align: center;
    }
  }
}

header button,
header a {
  transition: background 50ms;
}

header button:hover,
header a:hover {
  background-color: #d7d7db;
}

header button:active,
header a:active {
  background-color: rgb(195, 195, 195);
}

