@import 'ckeditor';
@import 'menu';
@import 'footer';

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
  overflow: hidden;
  margin: 0;
  --sync-animation-duration: 0.4s;
}

body,
body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/**
Custom list types for indents
https://github.com/mozilla/notes/issues/413
 */
ol ol,
ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol,
ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: decimal;
}

/**
List indents end
 */

button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;

  &.iconBtn {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;
    svg {
      max-width: 16px;
      max-height: 16px;
    }
  }

  &:disabled:hover {
    background: none !important;
    cursor: default;
  }

}

