body {
  background-color: #393F4C;
}

#notes .ck-toolbar  {
  background-color: #272B35;
}

#enable-sync {
  background-image: url('dark-svg/sync-16-dark.svg');
}

#give-feedback {
  background-image: url('dark-svg/feedback-dark.svg');
}

#footer-buttons button,
#footer-buttons a {
  background-color: #272B35;
  color: #e6e6e6;
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #323744;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #3d4352;
}

::-moz-selection {
  background-color: #5675B9;
  color: #fff;
}

/* Overridden Quill classes */
.ql-snow .ql-stroke {
  stroke: #e6e6e6;
}
.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: #e6e6e6;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #e6e6e6;
}
.ql-snow .ql-empty {
  fill: none;
}

.ck-editor__editable  {
  background-color: #393F4C;
  color: #e6e6e6;
}

.ql-editor.ql-blank::before {
  color: #ddd;
}

.ql-snow a {
  color: #0080ff;
}

.ql-editor .ql-bg-blue {
  background-color: #0080ff;
}
.ql-editor .ql-color-white {
  color: #e6e6e6;
}
.ql-editor .ql-color-blue {
  color: #0080ff;
}

#notes .ck-toolbar * {
  color: #e6e6e6;
  background: #272B35;
}

#notes .ck-toolbar button:hover *,
#notes .ck-toolbar button.ck-on *,
#notes .ck-toolbar button:active * {
  color: #0080ff;
}


.ql-snow .ql-picker {
  color: #e6e6e6;
}
.ql-snow .ql-picker-options {
  background-color: #393F4C;
}
