html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

div#toolbar {
  min-height: 40px;
  width: 500px;
}

div#editor {
  flex: auto;
  overflow: hidden;
}

.ql-snow .ql-picker.ql-size {
  width: 45px;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border-left: 0;
  border-right: 0;
}

.ql-container.ql-snow {
  border-bottom: 0;
}

.ql-editor ol, .ql-editor ul {
  padding: 0;
}

.ql-editor ul {
  margin-left: -5px;
}

/**
Footer Styles
 */

footer * {
  font-size: 14px;
  min-height: 30px;
  width: 500px;
}

button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
}

footer {
  padding-bottom: 7px;
  position: relative;
}

#enable-sync {
  border-top: 1px solid #ccc;
  text-align: left;
  background: url('sync-16-inactive.svg') no-repeat;
  background-position: 10px 10px;
  padding: 9px 10px 5px 35px;
}

#menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#sync-note {
  display: none;
  padding: 15px 4%;
  background: #FFECAD;
  width: 92%;
}

#sync-note #close {
  text-align: right;
}

#close {
/*  border: solid blue 1px;*/
  width: 100%;
  display: inline-block;
  float: right;
}

#close-button {
  padding: 0 3px;
}

#close-button:hover {
  cursor: default;
  background: #5f4900;
  color: #fffefa;
  border: solid #5f4900 1px;
  border-radius: 10%;
}

#sync-note-dialogue {
  width: 100%;
  color: #424242;
}

#sync-note.visible {
  display: block;
}
