html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
  overflow: hidden;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

div#loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
}

div#toolbar {
  flex: 40px;
  width: 100%;
}

div#editor {
  flex: auto;
  overflow: hidden;
}

div#editor a {
  cursor: pointer;
}

.ql-snow .ql-picker.ql-size {
  width: 45px;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border-left: 0;
  border-right: 0;
}

.ql-container.ql-snow {
  border-bottom: 0;
}

.ql-editor ol, .ql-editor ul {
  padding: 0;
}

.ql-editor ul {
  margin-left: -5px;
}

/**
Footer Styles
 */

footer * {
  font-size: 14px;
  min-height: 30px;
}

button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
}

footer {
  position: relative;
  flex: 40px;
}

#footer-buttons {
  align-items: stretch;
  border-top: 1px solid #d7d7db;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

#saving-indicator {
  flex: 1 0;
  padding: 10px;
  color: #969696;
  text-align: left;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#enable-sync {
  background-image: url('sync-16-inactive.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-left: 1px solid #d7d7db;
  display: flex;
  flex: 0 0 40px;
}

#give-feedback {
  background-image: url('feedback.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-left: 1px solid #d7d7db;
  display: flex;
  flex: 0 0 40px;
}

#footer-buttons button,
#footer-buttons a {
  background-color: #f9f9fa;
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #ebebee;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #d7d7db;
}

#menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#sync-note {
  display: none;
  padding: 3px 0 5px 0;
  background: #FFECAD;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-bottom: 0;
}

#close-button {
  width: 16px;
  position: absolute;
  top: -6px;
  right: 4px;
  padding: 0 0;
  opacity: 0.4;
}

#close-button:hover {
  cursor: pointer;
  opacity: 0.6
}

#close-button:active {
  cursor: pointer;
  opacity: 0.8
}

#sync-note-dialog {
  width: 85%;
  font-size: 12px;
  margin: 5px 0 5px 10px;
  color: #424242;
}

#sync-note.visible {
  display: block;
}

.forbid-cursor {
  cursor: no-drop;
}

.ql-tooltip {
  display: none;
}
