body {
  background-color: #393F4C;
}

#notes .ck-toolbar  {
  background-color: #272B35;
}

#enable-sync svg path {
  fill: #e6e6e6 !important;
}

#footer-buttons.warning #enable-sync svg path {
  fill: #000000 !important;
}

.savingLayout #enable-sync:hover {
  background-color: #323744;
}

#give-feedback-button svg path {
  fill: #e6e6e6 !important;
}

/* material-design-lite (MDL) menu */
#context-menu-button {
  background-image: url('dark-svg/three-dots-dark.svg');
  background-color: #323744;
}

#footer-buttons.warning #context-menu-button {
  background-color: rgb(255, 236, 173);
  background-image: url('three-dots.svg');
}

.mdl-menu__outline {
  background: #272B35;
  transition: none;
}

.context-menu-item {
  color: #e6e6e6;
  background-color: #272B35;
}

.context-menu-item:hover {
  background-color: #323744;
}

.context-menu-item:active {
  background-color: #3d4352;
}
/* end MDL menu */

#footer-buttons button {
  background-color: #393F4C;
  color: #e6e6e6;
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #323744;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #3d4352;
}

::-moz-selection {
  background-color: #5675B9;
  color: #fff;
}

/* Overridden Quill classes */
.ql-snow .ql-stroke {
  stroke: #e6e6e6;
}
.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: #e6e6e6;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #e6e6e6;
}
.ql-snow .ql-empty {
  fill: none;
}

.ck-editor__editable  {
  background-color: #393F4C;
  color: #e6e6e6;
}

.ql-editor.ql-blank::before {
  color: #ddd;
}

.ql-snow a {
  color: #0080ff;
}

.ql-editor .ql-bg-blue {
  background-color: #0080ff;
}
.ql-editor .ql-color-white {
  color: #e6e6e6;
}
.ql-editor .ql-color-blue {
  color: #0080ff;
}

#notes .ck-toolbar * {
  color: #e6e6e6;
  background: #272B35;
}

#notes .ck-toolbar button.ck-on *,
#notes .ck-toolbar button:active * {
  color: #0080ff;
}

#notes .ck-button.ck-on {
  background: #323744;
}

#notes .ck-toolbar .ck-button:focus:not(.ck-disabled),
#notes .ck-toolbar .ck-button:hover:not(.ck-disabled),
#notes .ck-toolbar a.ck-button:focus:not(.ck-disabled),
#notes .ck-toolbar a.ck-button:hover:not(.ck-disabled) {
  background: #323744;
}

#notes .ck-toolbar .ck-dropdown__button:hover:not(.ck-disabled) {
  background: #323744;
}

#notes .ck-toolbar .ck-button__label {
background: transparent;
}

#notes .ck-toolbar .ck-button .ck-icon,
#notes .ck-toolbar a.ck-button .ck-icon {
  background: transparent;
}

#notes .ck-toolbar .ck-tooltip.ck-tooltip_s {
  background: transparent;
}

#notes .ck-toolbar button .ck-tooltip__text {
  border: solid thin #1c1f26;
  color: #e6e6e6;
}

#notes .ck-toolbar .ck-tooltip.ck-tooltip_s .ck-tooltip__text::after {
  border-color: transparent transparent #1c1f26;
}

#notes .ck-editor__main a {
  color: #0080ff;
}

#notes .ck-toolbar .ck-list__item:hover {
  background-color: #323744;
}

#notes .ck-toolbar .ck-list__item_active {
  background-color: #0073e5;
  color: #e6e6e6;
}

#notes .ck-toolbar .ck-list__item_active:hover {
  background-color: #0080ff;
}

#notes .drag-n-drop-focus,
#notes .drag-n-drop-focus .ck-editor__editable {
  border: 1px solid #ffff00;
  background-color: #008080;
}

.ql-snow .ql-picker {
  color: #e6e6e6;
}
.ql-snow .ql-picker-options {
  background-color: #393F4C;
}
