html {
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

div#toolbar {
  min-height: 40px;
}

div#editor {
  flex: auto;
  overflow: hidden;
}

.ql-snow .ql-picker.ql-size {
  width: 45px;
}

.ql-editor ol, .ql-editor ul {
  padding: 0;
}

.ql-editor ul {
  margin-left: -5px;
}

/**
Footer Styles
 */

footer * {
  font-size: 14px;
}

button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
}

footer {
  padding-bottom: 7px;
  position: relative;
}

#enable-sync {
  background: url('sync-16-inactive.svg') no-repeat;
  background-position: 10px 10px;
  padding: 9px 10px 5px 35px;
}

#menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#sync-note {
  display: none;
  background: #E4E4E4;
  border-radius: 5px;
  width: 75%;
  margin-left: 25%;
  color: #424242;
  padding: 10px;
}

#sync-note.visible {
  display: block;
}
