

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
  overflow: hidden;
  margin: 0;
  --sync-animation-duration: .4s;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

div#loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
}

div#toolbar {
  flex: 40px;
  width: 100%;
}

div#editor {
  flex: auto;
  overflow: hidden;
}

div#editor a {
  cursor: pointer;
}

.ql-snow .ql-picker.ql-size {
  width: 45px;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.ql-container.ql-snow {
  border-bottom: 0;
}

.ql-editor {
  font-size: 14px;
}

.ql-editor ol, .ql-editor ul {
  padding: 0;
}

.ql-editor ul {
  margin-left: -5px;
}

.ql-editor li {
  position: relative;
  margin-left: 8px;
}

.ql-editor li::before {
  position: absolute;
  bottom: 0;
  left: 0;
  word-break: keep-all;
  padding: inherit;
  display: flex;
  justify-content: flex-end;
}

/**
Footer Styles
 */

footer * {
  font-size: 14px;
  min-height: 30px;
}

button {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
}

footer {
  position: relative;
  flex: 40px;
}

#footer-buttons {
  align-items: stretch;
  border-top: 1px solid #d7d7db;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: background var(--sync-animation-duration) cubic-bezier(.07,.95,0,1);
}

/* warning style */
#footer-buttons.warning {
  background-color: rgb(255, 236, 173);
  transition: background var(--sync-animation-duration) cubic-bezier(.07,.95,0,1);
}

#footer-buttons.warning div:first-child {
  color: black;
}

#footer-buttons div:first-child {
  position: relative;
  flex: 1 0;
  padding: 10px 40px 10px 10px;
  color: #969696;
  text-align: left;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: padding 0s .2s;
}

#footer-buttons.syncingLayout div:first-child {
  padding: 10px 10px 10px 40px;
  transition: padding 0s .2s;
}

/* Hide saving-indication then move enable-sync then show saving-indicator */
@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
#saving-indicator.blink {
  animation-name: blink;
  animation-duration: var(--sync-animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* Sync icon */
#enable-sync {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 40px;
  cursor: pointer;
  border-left: 1px solid #d7d7db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.savingLayout #enable-sync {
  margin-right: 0px;
  transition: margin var(--sync-animation-duration) cubic-bezier(.07,.95,0,1) .05s, border 0s cubic-bezier(.07,.95,0,1) var(--sync-animation-duration);
}

.syncingLayout #enable-sync  {
  margin-right: calc(100% - 40px);
  background: none;
  border-left: none;
  transition: margin var(--sync-animation-duration) cubic-bezier(.07,.95,0,1) .05s;
}

.savingLayout #enable-sync:hover {
  background-color: #ebebee;
}

.syncingLayout #enable-sync:hover {
  background: transparent;
  cursor: default;
}

/* Animate sync icon */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#enable-sync svg {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.animateSyncIcon #enable-sync svg {
  animation-play-state: running;
}

.#enable-sync svg path {
  fill: #333333;
}
.animateSyncIcon #enable-sync svg path {
  fill: #4E92DD;
}

/* Feedback button on right side */
#give-feedback-button {
  cursor: pointer;
  border-left: 1px solid #d7d7db;
  display: flex;
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.#give-feedback-buttonc svg path {
  fill: #333333;
}

/* Display feedback button with opacity */
.savingLayout #give-feedback-button {
  opacity: 1;
  z-index: 1;
  visiblity: visible;
  transition: opacity var(--sync-animation-duration) cubic-bezier(.07,.95,0,1) var(--sync-animation-duration);
}

/* Hide Feedback button with opacity */
.syncingLayout #give-feedback-button {
  opacity: 0;
  z-index: 0;
  cursor: default;
  visiblity: hidden;
  transition: opacity var(--sync-animation-duration) cubic-bezier(.07,.95,0,1), visibity 0s var(--sync-animation-duration);
}

#footer-buttons button,
#footer-buttons a {
  background-color: #f9f9fa;
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #ebebee;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #d7d7db;
}

#menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#sync-note {
  display: none;
  padding: 3px 0 5px 0;
  background: #FFECAD;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-bottom: 0;
}

#close-button {
  width: 16px;
  position: absolute;
  top: -6px;
  right: 4px;
  padding: 0 0;
  opacity: 0.4;
}

#close-button:hover {
  cursor: pointer;
  opacity: 0.6
}

#close-button:active {
  cursor: pointer;
  opacity: 0.8
}

#sync-note-dialog {
  width: 85%;
  font-size: 12px;
  margin: 5px 0 5px 10px;
  color: #424242;
}

#sync-note.visible {
  display: block;
}

.forbid-cursor {
  cursor: no-drop;
}

.ql-tooltip {
  display: none;
}

/* Select menu from sync */
#context-menu-button {
  background-size: 3px;
  background-image: url('three-dots.svg');
  background-position:  50%;
  background-repeat: no-repeat;
  background-color: rgba(128, 128, 128, 0.2) !important;
  width: 22px;
  text-align: left;
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
}

/* Hide select menu on saving mode */
.savingLayout #context-menu-button{
  opacity: 0;
  visibility: none;
  z-index: 0;
  transition: visibility 0s var(--sync-animation-duration), opacity var(--sync-animation-duration) cubic-bezier(.07,.95,0,1);
}

/* Show select menu on syncing mode */
.syncingLayout #context-menu-button{
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: visibility 0s var(--sync-animation-duration), opacity var(--sync-animation-duration) cubic-bezier(.07,.95,0,1) var(--sync-animation-duration);
}

.context-menu {
  font-family: inherit;
  padding: 0;
}

.context-menu-item {
  font-size: 12px;
  padding: 0 0 0 15px;
  height: 18px;
  line-height: 30px;
}
