body {
  background-color: #393f4c;
}

#notes .ck-toolbar {
  background-color: #272b35;
}

#enable-sync svg path {
  fill: #e6e6e6 !important;
}

#footer-buttons.warning #enable-sync svg path {
  fill: #000000 !important;
}

.savingLayout #enable-sync:hover {
  background-color: #323744;
}

#give-feedback-button svg path {
  fill: #e6e6e6 !important;
}

.photon-menu > button {
  background-color: #323744;
}

.photon-menu > button svg path {
  fill: #e6e6e6 !important;
}

.warning .photon-menu > button svg path {
  fill: black !important;
}

.photon-menu button {
  color: #e6e6e6 !important;
}

.photon-menu button:focus {
  background-color: #272b35;
}
.photon-menu button:hover {
  background-color: #323744;
}
.photon-menu button:active {
  background-color: #3d4352;
}

.photon-menu .wrapper {
  border: solid 1px rgba(12, 12, 13, 0.2);
}

.photon-menu .wrapper ul {
  background-color: #393f4c;
  border: solid 1px #393f4c;
}

.photon-menu .wrapper ul:after { border-color: #393f4c transparent !important; }
.photon-menu .wrapper ul:before { border-color: #323744 transparent !important; }

.warning #context-menu-button:active,
.warning #context-menu-button:hover,
.warning #context-menu-button:focus {
  background-color: rgba(0, 0, 0, .1) !important;
}

#footer-buttons.warning #context-menu-button {
  background-color: rgb(255, 236, 173);
}

#syncing-indicator {
  background: none !important;
  color: inherit !important;
}

#footer-buttons div:first-child.isClickable button {
  background: none !important;
  color: #e6e6e6 !important;
}

.warning #syncing-indicator,
#footer-buttons.warning div:first-child.isClickable button {
  color: black !important;
}

#footer-buttons button,
#footer-buttons a {
  background-color: #393f4c;
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #323744;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #3d4352;
}

#footer-buttons.warning button {
  color: #e6e6e6;
}

::-moz-selection {
  background-color: #5675b9;
  color: #fff;
}

.ck-editor__editable {
  background-color: #393f4c;
  color: #e6e6e6;
}

#notes .ck-toolbar * {
  color: #e6e6e6;
  background: #272b35;
}

#notes .ck-toolbar button.ck-on *,
#notes .ck-toolbar button:active * {
  color: #0080ff;
}

#notes .ck-button.ck-on {
  background: #323744;
}

#notes .ck-toolbar .ck-button:focus:not(.ck-disabled),
#notes .ck-toolbar .ck-button:hover:not(.ck-disabled),
#notes .ck-toolbar a.ck-button:focus:not(.ck-disabled),
#notes .ck-toolbar a.ck-button:hover:not(.ck-disabled) {
  background: #323744;
}

#notes .ck-toolbar .ck-dropdown__button:hover:not(.ck-disabled) {
  background: #323744;
}

#notes .ck-toolbar .ck-button__label {
  background: transparent;
}

#notes .ck-toolbar .ck-button .ck-icon,
#notes .ck-toolbar a.ck-button .ck-icon {
  background: transparent;
}

#notes .ck-toolbar .ck-tooltip.ck-tooltip_s {
  background: transparent;
}

#notes .ck-toolbar button .ck-tooltip__text {
  border: solid thin #1c1f26;
  color: #e6e6e6;
}

#notes .ck-toolbar .ck-tooltip.ck-tooltip_s .ck-tooltip__text::after {
  border-color: transparent transparent #1c1f26;
}

#notes .ck-editor__main a {
  color: #0080ff;
}

#notes .ck-toolbar .ck-list__item:hover {
  background-color: #323744;
}

#notes .ck-toolbar .ck-list__item_active {
  background-color: #0073e5;
  color: #e6e6e6;
}

#notes .ck-toolbar .ck-list__item_active:hover {
  background-color: #0080ff;
}

#notes .drag-n-drop-focus,
#notes .drag-n-drop-focus .ck-editor__editable {
  border: 1px solid #ffff00;
  background-color: #008080;
}

