
.savingLayout #enable-sync:hover {
  background-color: #323744;
}

#give-feedback-button svg path {
  fill: var(--color-text) !important;
}

/* material-design-lite (MDL) menu */
#context-menu-button {
  background-image: var(--context-menu-image);
  background-color: var(--color-footer-border-hover);
}

#syncing-indicator {
  background: none !important;
  color: inherit !important;
}

#footer-buttons div:first-child.isClickable button {
  background: none !important;
  color: var(--color-text) !important;
}

.warning #syncing-indicator {
  color: black !important;
}


.mdl-menu__outline {
  background: #272b35;
  transition: none;
}


/* end MDL menu */


#footer-buttons button,
#footer-buttons a {
  background-color: #393f4c;
  transition: background 50ms;
}

#footer-buttons button:hover,
#footer-buttons a:hover {
  background-color: #323744;
}

#footer-buttons button:active,
#footer-buttons a:active {
  background-color: #3d4352;
}

#footer-buttons.actionable div:first-child {
  color: white;
}

::-moz-selection {
  background-color: #5675b9;
  color: #fff;
}


#notes .ck-toolbar * {
  color: var(--color-text);
  background: #272b35;
}

#notes .ck-toolbar button.ck-on *,
#notes .ck-toolbar button:active * {
  color: #0080ff;
}

#notes .ck-button.ck-on {
  background: #323744;
}

#notes .ck-toolbar .ck-button:focus:not(.ck-disabled),
#notes .ck-toolbar .ck-button:hover:not(.ck-disabled),
#notes .ck-toolbar a.ck-button:focus:not(.ck-disabled),
#notes .ck-toolbar a.ck-button:hover:not(.ck-disabled) {
  background: #323744;
}

#notes .ck-toolbar .ck-dropdown__button:hover:not(.ck-disabled) {
  background: #323744;
}

#notes .ck-toolbar .ck-button__label {
  background: transparent;
}

#notes .ck-toolbar .ck-button .ck-icon,
#notes .ck-toolbar a.ck-button .ck-icon {
  background: transparent;
}

#notes .ck-toolbar .ck-tooltip.ck-tooltip_s {
  background: transparent;
}

#notes .ck-toolbar button .ck-tooltip__text {
  border: solid thin #1c1f26;
  color: var(--color-text);
}

#notes .ck-toolbar .ck-tooltip.ck-tooltip_s .ck-tooltip__text::after {
  border-color: transparent transparent #1c1f26;
}

#notes .ck-editor__main a {
  color: #0080ff;
}

#notes .ck-toolbar .ck-list__item:hover {
  background-color: #323744;
}

#notes .ck-toolbar .ck-list__item_active {
  background-color: #0073e5;
  color: var(--color-text);
}

#notes .ck-toolbar .ck-list__item_active:hover {
  background-color: #0080ff;
}

.mdl-menu__item:focus {
  background-color: #272b35;
}
.mdl-menu__item:hover {
  background-color: #323744;
}
.mdl-menu__item:active {
  background-color: #3d4352;
}

.actionable {
  color: white;
}
